.title_content{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.title_text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80px;
    background-color: var(--primary-200);
    font-family: var(--danaBold);
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 0.5rem;
}
.title{
    display: block;
    margin-top: 1.2rem;
    font-family: var(--danaBlack);
    font-size: 2.5rem;
    color: var(--primary-100);
}